html, body{
    margin: 0;
    height: 100%;
    user-select: none;
}

body, main {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
body {
    color: white;
    background-color: black;
}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4%;
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    margin-left: 1.4rem;
    margin-top: 1.4rem;
}

a {
    color: rgb(0,255,17);
    font-size: 1.875rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar .button-wrap {
    display: flex;
    margin-left: auto;
    margin-right: 1%;
}

.join-button {
    height: 3.0rem;
    width: 10.875rem;
    background-color: rgb(0,255,17);
    font-size: 1.875rem;
    font-family: "Chivo Mono", monospace;
    border-width: 0;
    transition: background 0.25s ease,transform 0.25s ease, box-shadow 0.30s ease, border-radius 0.30s ease;
    color: black;
    text-align: center;
    padding-top: 0.5rem;
}

.join-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}

.hero-heading {
    font-size: 5.3125rem;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YEAR" 1979;
    letter-spacing: -0.5%;
    line-height: 145%;
    margin-left: 3.6875rem;
    margin-top: 9.375rem;
}

.Green-text {
    color: rgb(0,255,17);
}

.hero-description {
    font-size: 1.875rem;
    width: 63.9375rem;
    height: 11.25rem;
    line-height: 145%;
    letter-spacing: -0.5%;
    font-family: "Chivo Mono", monospace;
    border-width: 0;
    margin-left: 3.6875rem;
    margin-top: 5rem;
}

.footer-box{
    width: 100%;
    height: 9.6171875rem;
    background-color: rgb(164, 164, 164);
    justify-self: baseline;
    padding-top: 1.87rem;
    display: flex;
}

/* 3.5625rem 2.1875rem 58.375rem 1.87rem ; */

.footer-text {
    display: flex;
    font-family: "Courier Prime", monospace;
    font-size: 1.3125rem;
    width: 50.0625rem;
    margin-left: 3.5635rem;
    margin-top: 0.87rem; 
    margin-bottom: 2.1875rem;
    letter-spacing: -0.5%;
    line-height: 145%;
    color: rgb(65, 65, 65);
    text-align: justify;
}

.icons {
    color: rgb(65, 65, 65);
}

.icon-list {
    list-style: none;
    display: flex;
    margin-right:5rem;
    margin-top: 2.40rem;
    gap: 1rem;
    margin-left: auto;
}

form {
    margin-top: 0.87rem;
    font-family: 'Courier New', Courier, monospace;
    border-width: 1px;
    border-style: solid;
    padding-top: 2.87rem;
    margin-bottom: 1.87rem;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 2.87rem;
}
input {
    font-size: 1.875rem;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-size: 1.875rem;
    width: 100%;
    margin-left: 10%;
}
.green {
    color: rgb(0,255,17);
}

.horizontal-container {
    display: flex;
    margin-right: 12.87rem;
}

select {
    font-size: 1.875rem;
    width: 75%;
    margin-left: 10%;
    margin-bottom: 5%;
    font-family: 'Courier New', Courier, monospace;
}

.submit-button {
    height: 3.0rem;
    width: 10.875rem;
    background-color: rgb(0,255,17);
    font-size: 1.875rem;
    font-family: "Chivo Mono", monospace;
    border-width: 0;
    transition: background 0.25s ease,transform 0.25s ease, box-shadow 0.30s ease, border-radius 0.30s ease;
    color: black;
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
}

.submit-button:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}