html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

#navbar{
    list-style: none;
    display: flex;
    width: fill;
    margin-left: 0;
}

li {
    margin-right: 5%;
    margin-left: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: 0;
}

a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 270%;
    margin-top: 7%;
    margin-left: 4%;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.Gurman {
    color: rgb(62, 62, 199);
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.image {
    height: 10%;
    width: 10%;    
}

.description {
    margin-left: 4%;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 55%;
    text-align: justify;
    display: flex;
}


#navbar .Button-wrap {
    display: flex;
    margin-left: auto;
    margin-top: 2px;
}

.button {
    height: 25px;
    width: 70px;
    font-size: 90%;
    text-align: centre;
    background-color: rgb(62, 62, 199);
    border: 0.1px;
    border-color: black;
    border-radius: 15px;
    border-style: solid;
    color: white;
}

.foot {
    background-color: rgb(31, 31, 46);
    width: 100%;
    height: fit-content;
    color: antiquewhite;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    justify-self: baseline; 
}

#footer-text{
    text-align: justify;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-size: 10px;
    font-style: normal;    
}

.social-media {
    display: flex;
    margin-top: 40px;
    margin-left: 4%;
}

i {
    margin-right: 10px;
}

.card_img {
    width: 150px;
    height: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.card_text {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal; 
    font-size: 80%;
    margin-top: 10%;
}

.card {
    height: 200px;
    width: 200px;
    display: block;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    margin-left: 4%;
    padding-top: 20px;
    border-radius: px;
    background-color: rgb(184, 206, 248);
    margin-top: 4%;
}

.project-view {
    display: flex;
}